<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>FB</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- <script src="https://connect.facebook.net/en_US/sdk.js" id="facebook-jssdk"></script> -->
  <script type="text/javascript" src="../static/fb_page.js"></script>  
</head>

<body>
    <a href='#' onclick='login();' id="hit" style="display : none">Login</a>
    <a href='#' onclick='logout();'>logout</a>
    <p id="status"></p>
    <img id="dp"></img>
</body>

</html>