<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>Linked In</title>
    
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: 782worfogh1ext
        authorize: true
        onLoad: onLinkedInLoad
        scope: r_basicprofile r_emailaddress
    </script>

    <script type="text/javascript">
        // Setup an event listener to make an API call once auth is complete
        function onLinkedInLoad() {
            IN.Event.on(IN, "auth", getProfileData);
        }

        // Use the API call wrapper to request the member's profile data
        function getProfileData() {
            IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
        }

        // Handle the successful return from the API call
        function displayProfileData(data) {
            var user = data.values[0];
            console.log(user)
            document.getElementById("picture").innerHTML = '<img src="' + user.pictureUrl + '" />';
            document.getElementById("name").innerHTML = user.firstName + ' ' + user.lastName;
            document.getElementById("intro").innerHTML = user.headline;
            document.getElementById("location").innerHTML = user.location.name;
            document.getElementById("link").innerHTML = '<a href="' + user.publicProfileUrl + '" target="_blank">Visit profile</a>';
            document.getElementById('profileData').style.display = 'block';
        }

        // Handle an error response from the API call
        function onError(error) {
            console.log(error);
        }

        // Destroy the session of linkedin
        function logout() {
            IN.User.logout(removeProfileData);
        }

        // Remove profile data from page
        function removeProfileData() {
            document.getElementById('profileData').remove();
        }
    </script>
</head>

<body>

    <script type="in/Login"></script>

    <!-- display profile info -->
    <div id="profileData" style="display: none;">
        <p>
            <a href="javascript:void(0);" onclick="logout()">Logout</a>
        </p>
        <div id="picture"></div>
        <div class="info">
            <p id="name"></p>
            <p id="intro"></p>
            <p id="email"></p>
            <p id="location"></p>
            <p id="link"></p>
        </div>
    </div>
</body>

</html>