<!DOCTYPE html>
<html lang="en">

<head>
    <title> Live Analytics</title>

    <link href="../static/signup.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Simple Line Chart"
                },
                axisY: {
                    includeZero: false
                },
                data: [{
                    type: "pie",
                    dataPoints: [
                        { y: 450 },
                        { y: 414 },
                        { y: 520, indexLabel: "highest", markerColor: "red", markerType: "triangle" },
                        { y: 460 },
                        { y: 450 },
                        { y: 500 },
                        { y: 480 },
                        { y: 480 },
                        { y: 410, indexLabel: "lowest", markerColor: "DarkSlateGrey", markerType: "cross" },
                        { y: 500 },
                        { y: 480 },
                        { y: 510 }
                    ]
                }]
            });
            chart.render();

        }
    </script>

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="main">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li role="presentation">
                        <a href="signin">Sign In</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li role="presentation">
                        <a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>

            <h3 class="text-muted">Live Analytic</h3>
        </div>

        <div class="jumbotron">
            <h1>Live Analytic</h1>
            <p class="lead"></p>
            <p>
                <a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>


        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <footer class="footer">
            <p>&copy; Company 2017</p>
        </footer>

    </div>
</body>

</html>